.footerSubMenu {
  background-color: #31484a;
  height: 32px;
  color: white;
}

ul {
  list-style: none;
  margin: 0 auto;
}

.breadCumbs {
  width: 80%;
}

ul li {
  margin: 5px;
}

ul li a {
  font-size: 14px;
}

li a:selected {
  color: #eada24;
}

.footerMenu {
  height: 300px;
  background-color: #223335;
  padding-top: 30px;
}

.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  color: white;
  margin-bottom: 15px;
}

.logoWrapper {
  margin-right: 30px;
}
.listWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 30px;
}

.listWrapperTwo {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 30px;
}

.listWrapper li {
  border-left: 1px solid #404d4f;
  padding: 5px;
  margin: 0px;
  margin-right: 120px;
  width: max-content;
}

.listWrapperTwo li {
  border-left: 1px solid #404d4f;
  padding: 5px;
  margin: 0px;
  margin-right: 120px;
  width: max-content;
}

.listWrapper li a {
  color: #d1ccbd;
}

.listWrapperTwo li a {
  color: #d1ccbd;
}

.containerBottom {
  width: 80%;
  margin: 0 auto;
  display: flex;
  color: white;
  border-top: 1px solid #666;
  justify-content: space-between;
}

.containerBottom div ul {
    display: block;
}

.socialIcons {
    display: flex;
}

.socialIcons dl {
    display: block;
    height: 48px;
    width: 48px;
    margin-top: 8px;
}

.socialIcons dl a span {
    display: none;
}

.socialIcons dl a img {
    padding: 8px;
}

.facebook {
    background-color: #346da6;
}

.twitter {
    background-color: #429ecc;
}

.linkedin {
    background-color: #346da6;
}

.youtube {
    background-color: #ca4638;
}
.googleplus {
    background-color: #df5745;
}