header {
    background-color: #631D57;
    box-sizing: border-box;
    display: flex;
    height: 56px;
    position: relative;
    width: 100%;
    z-index: 9;
}

.container {
    width:80%;
    height: 56px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.hamburgeMenu {
    color: #FFFFFF;
    position: relative;
    width: 24px;
}

.hamburgeMenu:hover {
    border: 2px solid rgba(255,255,255,.2);
    border-radius: 50%;
    display: inline-block;
    margin: -2px;
    position: relative;
}

ul {
    display: flex;
    list-style: none;
    padding: 0px;
    margin: 0px;
    align-content: center;
}

ul li a{
    font-size: 16px;
    color:white;
    text-decoration: none;
}

.title {
    font-size: 20px !important;
    font-weight: 700 !important;
    margin-left: 15px;
    margin-right: 10px;
}

.navItems {
    padding: 3px;
    margin-left: 5px;
    margin-right: 5px;
    color:rgba(255,255,255,.6)
}

.navItems:hover {
    color:#FFFFFF;
}

.rscLogo {

}