.container {
  margin: auto;
  width: 80%;
  display: grid;
  grid-gap: 3px;
  padding: 5px;
}

.controls {
  background-color: #f2f2f3;
}

.wrapper {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(18, 1fr);
  grid-auto-rows: 50px;
}

.cell {
  /* background-color: blue; */
  /* border: 3px solid rgb(243, 46, 46); */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* overflow: hidden; */
}

.header {
  height: 50px;
  background-color: grey;
  background: #f2f2f4;
  color: #636363;
  line-height: 26px;
  font-family: museo_sans_500regular, Arial !important;
  font-size: 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
}

.header span {
  padding-right: 15px;
  font-size: 13px;
}

.headerSupplyRiskBlock {
  display: flex;
  align-items: center;
  line-height: normal;
}

.descriptionContainer {
  background-color:#f2f2f4;
  height:150px;
  grid-column-start:3;
  grid-row-start:1;
  grid-column-end:13;
}

.description {
  border: 1px solid #dedede;
  background-color: white;
  /* width: 491px; */
  height: 100px;
  overflow: hidden;
  font-family: Arial !important;
  font-size: 12px;
  color: #636363;
}

.He {
  grid-column-start: 18;
}

.fBlock {
  grid-column-start: 3;
}

.elementDescription {
  grid-column-start: 3;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 3;
  border: 1px solid #dedede;
  /* width: 491px; */
  /* height: 80px; */
  /* margin-top: 4px;
  overflow: hidden; */
  font-family: Arial !important;
  font-size: 12px;
  color: #636363;

  display: grid;
  grid-template-columns: 1.2fr 2fr 2fr 1.2fr;
  border: 1px solid red;
}

.elementDescription .elementImg {
  height: 100px;
}

.elementDescriptionTable {
  display: grid;
}

.elementDescriptionTable div {
  border: 1px solid red;
}

.elementDescriptionTable div {
  border-bottom: 0px solid red;
  border-left: 0px solid red;
}

.bigCell {
  display: grid;
  /* grid-template-rows: 1.5fr 1fr; */
  color: black;
  height: 100px;
}

.bigCellLabel {
  text-align: center;
  font-family: museo_sans_700regular, Arial !important;
  font-size: 13px;
  background-color: #bfeaec;
}
.bigCellLabelIconBigText {
  font-size: 40px;
}

.bigCellDescription {
  background-color: #398c95;
  display: grid;
  grid-template-columns: 1.2fr 2fr;
}

.bigCellDescription div {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* height: 106px!important;
    width: 100px!important; */

.headerSelectedElement {
  color: white;
}

.white {
  color: white;
}

.supplyRisk {
  grid-row-start: 1;
  grid-column-start: 13;
  grid-column-end: 18;
  background-color: grey;
  background: #f2f2f4;
  color: #636363;
}

.supplyRiskRows {
  height: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.supplyRiskCols {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.supplyRiskColBlock {
  height: 15px;
  width: 15px;
  margin-left: 4px;
  margin-right: 4px;
}

.highSupplyRisk {
  background-color: #ed3833;
}

.lowSupplyRisk {
  background-color: #4fab2a;
}

.mediumSupplyRisk {
  background-color: #f4af42;
}
.unknownSupplyRisk {
  background-color: #000000;
}

.supplyRiskColText {
  font-size: 13px;
}

.supplyRisk ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  height: 100%;
}

.supplyRisk li {
  height: -webkit-fill-available;
  border: 1px solid black;
  background-color: red;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
